<!-- this recieves user variable which can be admin, quest, student -->
<div id="content">
        <div class="pages">

                <div id="explore-pages">
                        <% if (page=='explore'){ %> 
                                <%- include('../pages/Explore.ejs') %>
                        <% } else if (page == 'course') { %>
                                <%- include('../pages/Course.ejs') %>                        
                        <% } else if (page=='exam' ) { %>
                                <%- include('../pages/Exam.ejs') %>
                        <% } else if (page=='review') { %>
                                <%- include('../pages/Review.ejs') %>
                        <% } else if (page=='addexam' ) { %>
                                <%- include('../pages/AddExam.ejs') %>
                        <% } %>
                </div> 
        



                <div id="aboutUs-pages">
                        <%- include('../pages/AboutUs.ejs') %>
                </div>
</div>
</div>

