<!-- this recieves user variable which can be admin, quest, student -->
<link rel="stylesheet" href="../css/partials/content.css">
<div id="content">
        <div class="pages">
                <div id="myCourses-page">
                        <%- include('../pages/Explore.ejs') %>
                </div> 
                <!-- adding my courses and history for student user -->
                <% if (user=='student' ) { %>
                        <div id="myCourses-page">
                                <%- include('../pages/MyCourses.ejs') %>
                        </div>

                        <div id="history-page">
                                <%- include('../pages/History.ejs') %>
                        </div>
                <% } %>
                
                <!-- adding requests and users pages for admin user -->
                <% if (user=='admin' ) { %>
                        <div id="requests-page">
                                <%- include('../pages/Requests.ejs') %>
                        </div>
                        
                        <div id="users-page">
                                <%- include('../pages/Users.ejs') %>
                        </div>
                <% } %> 


                <div id="settings-page">
                        <%- include('../pages/Settings.ejs') %>
                </div>

                <div id="aboutUs-page">
                        <%- include('../pages/AboutUs.ejs') %>
                </div>
</div>
</div>

<script>
        menuButtons = document.querySelectorAll('.menu-element')
        menuItemsNum = menuButtons.length//how many menu items depends on type of user
        pages = document.getElementsByClassName('pages')[0]
        pages.style.height=(menuItemsNum+'00%')

        menuButtons.forEach((element,index) => {
                element.addEventListener('click',()=>{
                        [...pages.children].forEach((el)=>{
                                el.style.transform  = 'translateY(-'+(index) + '00%)'
                        })
                })
        });
</script>